In [63]:
import numpy as np
import pandas as pd
raw_data = '/Users/elenasmith/Documents/women_in_red/data/'

In [64]:
def update_df(df, row_to_add):
    if df.shape[0] == 0:
        df = pd.DataFrame(row_to_add,index=[0])
    else:
        temp = pd.DataFrame(row_to_add,index=[0])
        df = df.append(temp)
    return df

In [65]:
log_file = open('{}archive_extract_logs_703__logs_20190902.txt'.format(raw_data), 'r')

# identify functions for which to extract runtimes 
functions = ['find_indiv_afd_by_id','find_afd_stats_by_id']

In [66]:
fx_logs = pd.DataFrame()
for line in log_file:
    if 'ms' in line:
        if any(fx in line for fx in functions):
            new_row = {"function": line.split(' ')[2],
                       "time": line.split(' ')[4],
                       "run_date": line.split(' ')[1].split('/[$LATEST]')[0]}
            fx_logs = update_df(fx_logs,new_row)

In [67]:
fx_logs[0:3]

               function                   time    run_date
0  find_indiv_afd_by_id  2.045154571533203ms\n  2019/09/02
0  find_indiv_afd_by_id   59.0662956237793ms\n  2019/09/02
0  find_indiv_afd_by_id  60.34731864929199ms\n  2019/09/02

In [68]:
fx_logs['time'] = fx_logs['time'].apply(lambda x: float(x.replace("ms\n","")))
fx_logs['run_date'] = pd.to_datetime(fx_logs['run_date'])

In [69]:
fx_logs[0:3]

               function       time   run_date
0  find_indiv_afd_by_id   2.045155 2019-09-02
0  find_indiv_afd_by_id  59.066296 2019-09-02
0  find_indiv_afd_by_id  60.347319 2019-09-02

In [74]:
fx_logs.groupby(['function','run_date']).agg({"time": lambda x: [int(np.max(x)), 
                                                                 int(np.mean(x)), 
                                                                 int(np.median(x)),
                                                                 int(np.min(x)),
                                                                 len(x)]})

                                                      time
function             run_date
find_afd_stats_by_id 2019-09-02  [2357, 961, 918, 58, 559]
                     2019-09-03  [2400, 942, 839, 58, 593]
find_indiv_afd_by_id 2019-09-02   [2379, 959, 901, 2, 559]
                     2019-09-03  [2379, 943, 840, 58, 593]